.tabs {
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
  }

  .tab {
    font-size: 14px;
    color: grey;
    border-radius: 5px;
    border: 1px solid grey;
    width: 100%;

    &--active {
      background-color: grey;
      color: white;
    }
  }
}
