*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

button,
h1,
p {
  font-family: Roboto, sans-serif;
}

.tabs {
  display: flex;
  flex-direction: column;
  padding: 15px;

  &__container {
    display: flex;
    min-width: 240px;
  }

  .tab {
    font-size: 14px;
    color: grey;
    border-radius: 5px 0 0 5px;
    border: 1px solid #6f7b8d;
    width: 100%;
    height: 34px;
    padding: 8px;
    background: none;
    cursor: pointer;

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &--active {
      background-color: #697587;
      color: white;
    }
  }
}

.promotions {
  padding: 15px 5px 0;
  display: flex;
  flex-direction: column;

  .promotion:not(:last-child) {
    margin-bottom: 15px;
  }

  &__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top: 1px solid #e0e4e6;
    border-left: 1px solid #e0e4e6;
    border-right: 1px solid #e0e4e6;
  }

  &__img {
    min-width: 100%;
    object-fit: cover;
  }

  &__content {
    background-color: #e0e4e6;
    padding: 15px 10px;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    color: #5a5a5a;
    margin-bottom: 12px;
    text-align: center;
  }

  &__description {
    font-size: 14px;
    color: #6f7b8d;
  }

  &__button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__button {
    cursor: pointer;
    background: none;
    height: 34px;
    padding: 8px;
    border: 1px solid #6f7b8d;
    width: 136px;
    color: #686767;
    border-radius: 5px;

    &--join {
      color: #e1e1e1;
      background-color: #56636f;
    }
  }
}

.loader {
  margin: 20px auto;
  width: 48px;
  height: 48px;
  border: 5px solid #6f7b8d;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  .tabs {
    padding: 20px;
  }

  .promotions {
    padding: 20px 10px 0;

    .promotion:not(:last-child) {
      margin-bottom: 20px;
    }

    &__button-container {
      margin-top: 15px;
    }

    &__img {
      min-width: revert;
      object-fit: revert;
      max-width: 600px;
    }

    &__content {
      padding: 20px 15px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .app {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tabs {
    max-width: 992px;
  }
}
